// flexible font with SASS
@mixin ff($targ: 12, $family: Helvetica, $weight: 400, $lh: 1.1, $type: rem, $context: 16) {
    font-size: #{($targ / $context)}#{$type};
    font-family: $family;
    font-weight: $weight;
    line-height: $lh;
}

// use mixin sample

/* fluindo font-size de 27px para medida `em` em contexto de fonte 22px */
@include ff(27, Verdana,  500, em, 22);

/* fluindo font-size de 27px para medida `rem` */
@include ff(27, Verdana,  500);
